
<h1 class="text-center my-4"> Listado de usuarios registrados</h1>

<table class="table table-striped table-hover table-borderless">
	<thead>
		<tr class="bg-black">
			<th scope="col">#</th>
			<th scope="col">Nombre</th>
			<th scope="col">Identificación</th>
			<th scope="col">Fecha de nacimiento</th>
			<th scope="col">Cargo usuario</th>
			<th scope="col">Estado</th>

		</tr>
	</thead>
	<tbody>
		{% for valor in datos %}
			<tr>
				<td scope="row">

					{{ valor.id }}

				</td>
				<td>

					{{ valor.nombre }}

				</td>
				<td>

					{{ valor.identificacion }}

				</td>
				<td>

					{{ valor.fecha_nacimiento }}

				</td>
				<td>

					{{ valor.cargo_usuario|replace({'1': 'Administrador','2': 'Webmaster','3': 'Desarrollador'}) }}

				</td>
				<td>

					{{ valor.Estado }}

				</td>
			</tr>
		{% endfor %}


	</tbody>
</table>
